<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Profile</title>
</head>
<body>
<form method="post">
  <input type="text" name="Name" placeholder="title">
  <input type="text" name="Address">
  <input type="text" name="Address">
  <input type="text" name="Address">
  <input type="text" name="Address">




  <input type="submit">
</form>


</body>
</html>