<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PDF Uploads</title>
</head>
<body>

<form method="post" enctype="multipart/form-data" action="/" )>
  <input type="text" name="title" placeholder="title">
  <input type="file" name="upl">
  <input type="submit">
</form>


</body>
</html>