body{
    background: black;
    {/*background: URL("./images/polaris.jpg") no-repeat center center fixed;
    background-size: 100%;*/}
}
h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

.blueBtn {
    background: #337ab7;
    color: white;
    border-color: #337ab7;
}