body{
    background: URL("./images/polaris.jpg") no-repeat center center fixed;
    background-size: cover;
}
h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}